rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /audio/{reportId}/{fileName} {
      // Write is only allowed if the user provides correct metadata
      allow write: if request.auth.uid == request.resource.metadata.inspectorId;
      // Read is allowed by any authenticated user
      allow read: if request.auth != null;
    }

    match /images/{reportId}/{issueId}/{fileName} {
      // Write is only allowed if the user provides correct metadata
      allow write: if request.auth.uid == request.resource.metadata.inspectorId;
      // Read is allowed by any authenticated user
      allow read: if request.auth != null;
    }
  }
}